<div>
    <img class="ring-icon" ng-src="{{ring.icon}}" style="width:125px;">
    <div class="trait-block">
        <div class="ui huge form">
            <div class="inline field">
                <label>{{ring.name}}</label> {{ring.getRank()}}
            </div>
        </div>
        <div class="ui large form normal-trait" ng-if="!ring.voidTrait">
            <div class="ui middle aligned grid">
                <div class="ten wide column">
                    <div class="inline field">
                        <label>{{ring.physicalTrait.name}}</label> {{ring.physicalTrait.value}}
                    </div>
                </div>
                <div class="two wide column">
                    <span class="ui mini icon button" ng-if="isInSpendingMode()" ng-click="purchaseTrait(ring.physicalTrait.id)">
                        <i class="ui small icon plus"></i>
                    </span>
                </div>
                <div class="ten wide column">
                    <div class="inline field">
                        <label>{{ring.spiritualTrait.name}}</label> {{ring.spiritualTrait.value}}
                    </div>
                </div>
                <div class="two wide column">
                    <span class="ui mini icon button" ng-if="isInSpendingMode()" ng-click="purchaseTrait(ring.spiritualTrait.id)">
                        <i class="ui small icon plus"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui large void-trait form" ng-if="ring.voidTrait">
            <div class="ui middle aligned grid">
                <div class="ui icon button" ng-if="isInSpendingMode()" ng-click="purchaseTrait('void')">
                    <i class="ui small icon plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>
