<div class="ui fields">
    <div class="four wide field">
        <div class="ui choice selection dropdown pi-dropdown" pi-dropdown ng-model="$ctrl.baseSkillId" ng-change="$ctrl.onSkillChange">
            <input type="hidden" name="{{'choice' + index}}">
            <i class="dropdown icon"></i>
            <div class="default text">Select Skill</div>
            <div class="menu">
                <div class="item" ng-repeat="skill in $ctrl.choiceOptions" data-value="{{skill.id}}" >
                    {{skill.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="four wide field" ng-if="$ctrl.baseSkill && $ctrl.baseSkill.subSkills">
        <div class="ui choice selection dropdown pi-dropdown" pi-dropdown ng-model="$ctrl.subSkillText" ng-change="$ctrl.onSubSkillChange">
            <input type="hidden" name="{{'$ctrl.subChoice' + index}}">
            <i class="dropdown icon"></i>
            <div class="default text">Select Sub-skill</div>
            <div class="menu">
                <div class="item" ng-repeat="subSkill in $ctrl.baseSkill.subSkills" data-value="{{subSkill.name}}" >
                    {{subSkill.name}}
                </div>
                <div class="item" data-value="other">
                    Other
                </div>
            </div>
        </div>
    </div>
    <div class="four wide field" ng-if="$ctrl.choosingOther">
        <input type="text" placeholder="Enter other choice" name="{{'$ctrl.otherChoice' + index}}"
               ng-model="$ctrl.otherChoice" ng-change="$ctrl.onOtherTextChange($ctrl.otherChoice)" ng-model-options="{debounce: 250}" />
    </div>
</div>