<br/>
<h2 class="ui header">Log</h2>
<div class="ui divided items">
    <div class="ui item" ng-repeat="logView in model.logViews">
        <div class="content" ng-if="editingLogView !== logView">
            <div class="ui right floated buttons" ng-if="!deletingLogView && !editingLogView">
                <button class="ui button" type="submit" ng-click="startEditLog(logView)">Edit</button>
                <div class="or" ng-if="!isMandatoryEntry(logView)"></div>
                <button class="ui button negative" ng-if="!isMandatoryEntry(logView)" ng-click="startDeleteLog(logView)">Delete</button>
            </div>
            <div class="ui right floated" ng-if="deletingLogView === logView">
                <span style="padding-right: 5px">Are you sure you want to delete this log?</span>
                <div class="ui  buttons">
                    <button class="ui button negative" type="submit" id="confirm-delete-item" name="confirm-delete-item" ng-click="finishDeletingLog()">Delete</button>
                    <div class="or"></div>
                    <button class="ui button" id="cancel-delete-item" name="cancel-delete-item" ng-click="cancelChangingLog()">Cancel</button>
                </div>
            </div>
            <div class="ui small header">
                {{logView.title}}
            </div>
            <div class="meta">{{logView.creationTimestamp}}</div>
            <div class="description">
                <div ng-repeat="recordItem in logView.recordItems">
                    {{recordItem.displayText}}
                </div>
            </div>
        </div>
        <div class="content" ng-if="editingLogView === logView" ng-switch="logView.logModel.type">
            <div ng-switch-when="CREATION">
                Can't be edited yet. <button class="ui button" ng-click="cancelChangingLog()">Cancel</button>
            </div>
            <div ng-switch-when="CHARACTER_INFO">
                Can't be edited yet. <button class="ui button" ng-click="cancelChangingLog()">Cancel</button>
            </div>
            <div ng-switch-when="XP_EXPENDITURE">
                Can't be edited yet. <button class="ui button" ng-click="cancelChangingLog()">Cancel</button>
            </div>
            <div ng-switch-when="MODULE_COMPLETION">
                <pi-edit-log-module log="log" model="model" on-save="finishEditingLog" on-cancel="cancelChangingLog"></pi-edit-log-module>
            </div>
        </div>
    </div>
</div>