<form class="ui details form">
    <div class="field">
        <label>Name</label>
        <input type="text" ng-model="$ctrl.name" name="name" placeholder="Character's Personal Name"/>
    </div>
    <div class="field">
        <label>Description</label>
        <textarea ng-model="$ctrl.description" name="description" placeholder="Description"></textarea>
    </div>
    <div class="field" ng-show="$ctrl.inError">
        <div class="ui error message">
        </div>
    </div>
    <div class="field">
        <div class="ui buttons">
            <button class="ui button primary" type="submit" id="submit-module" name="submit-module" ng-click="$ctrl.save()">Save</button>
            <div class="or"></div>
            <button class="ui button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </div>
</form>