<form class="ui initial form">
    <div class="fields">
        <div class="field">
            <label>Initial XP</label>
            <input type="number" ng-model="initialXp" name="initialXp"/>
        </div>
    </div>
    <div class="fields">
        <div class="five wide field">
            <label>Clan:</label>
            <div class="ui search clan selection dropdown pi-dropdown" ng-model="selectedClanId" ng-change="setClan">
                <input type="hidden" name="clan">
                <i class="dropdown icon"></i>
                <div class="default text">Select Clan</div>
                <div class="menu">
                    <div class="item" ng-repeat="clan in clans" data-value="{{clan.id}}">
                        {{clan.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide field">
            <label>Family:</label>
            <div class="ui search family selection dropdown pi-dropdown" ng-model="selectedFamilyId" ng-class="{'disabled': !selectedClanId}" ng-change="setFamily">
                <input type="hidden" name="family">
                <i class="dropdown icon"></i>
                <div class="default text">Select Family</div>
                <div class="menu">
                    <div class="item" ng-class="{'disabled': !canChooseFamily(family.id)}" ng-repeat="family in families" data-value="{{family.id}}">
                        {{family.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide field">
            <label>School:</label>
            <div class="ui search school selection dropdown pi-dropdown" ng-model="selectedSchoolId" ng-class="{'disabled': !selectedFamilyId}" ng-change="setSchool">
                <input type="hidden" name="school">
                <i class="dropdown icon"></i>
                <div class="default text">Select School</div>
                <div class="menu">
                    <div class="item" ng-class="{'disabled': !canChooseSchool(school.id)}" ng-repeat="school in schools" data-value="{{school.id}}">
                        {{school.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide field">
            <label>Buy Different School</label>
            <div class="ui checkbox">
                <input type="checkbox" ng-model="differentSchool" ng-change="onDifferentSchoolChange()">
                <label></label>
            </div>
        </div>
    </div>
    <div class="field" ng-if="hasSchoolChoices()">
        <h4 class="ui header">School Choices</h4>
        <div ng-repeat="choice in getSchoolChoices()">
            <pi-skill-choice school-choice="choice.choice" school-decision="choice.decision" index="$index"></pi-skill-choice>
        </div>
    </div>
    <div class="field">
        <div class="ui error message">
        </div>
    </div>
    <div class="field">
        <div class="ui buttons">
            <button class="ui button primary" type="submit" id="submit-module" name="submit-module" ng-click="save()">Save</button>
            <div class="or"></div>
            <button class="ui button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>