<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui sub header">Initial XP</div>
        {{$ctrl.model.characterInfo.xp}}
    </div>
    <div class="five wide column">
        <div class="ui sub header">Clan</div>
        {{$ctrl.model.characterInfo.clan.name}}
    </div>
    <div class="five wide column">
        <div class="ui sub header">Family</div>
        {{$ctrl.model.characterInfo.family.name}}
    </div>
    <div class="five wide column">
        <div class="ui sub header">School</div>
        {{$ctrl.model.schools[0].type.name}}
    </div>
    <div class="four wide column">
        <div class="ui sub header">Different School</div>
        <span ng-if="$ctrl.isDifferentSchool()"><i class="icon check"></i></span>
        <span ng-if="!$ctrl.isDifferentSchool()"><i class="icon close"></i></span>
    </div>
</div>